* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    overflow: auto;
}

a {
    user-select: none
}

.nav, .nav-hamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    margin-top: 2px;
    position: fixed;
    top: 0;
}

#nav-left {
    position: relative;
    display: flex;
    float: left;
    width: 50%;
    justify-content: flex-start;
}

#nav-right {
    position: relative;
    display: flex;
    float: right;
    width: 50%;
    justify-content: flex-end;
}

#nav-right:last-child {
    padding-right:10px;
}

.nav a {
    padding: 10px;
}

.nav-hamburger {
    display: none;
}

#logo, #hamburger-icon {
    display: flex;
    width: 50%;
    padding-top: 2px;
    
}

#logo {
    justify-content: flex-start;
    padding-left: 10px;
}

#hamburger-icon {
    justify-content: flex-end;
    padding-right: 10px;
}

@media only screen and (max-width: 500px) {
    .nav {
        display: none;
    }

    .nav-hamburger {
        display: flex;
    }

    .hamburger-content-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        width: 100%;
        margin-top: 2px;
        top: 0;
        background-color: azure;
    }

    #hamburger-content {
        width: 100%;
        z-index: 9999;
        margin-top: 50px;
    }

    .hamburger-content-ul > li {
        margin-bottom: 50px;
    }

    .hamburger-content-ul > li {
        margin-top: 50px;
    }


}