* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100%;
    overflow: auto;
}

a {
    user-select: none
}

ul {
    list-style: none;
}

/* NAVBAR STYLING */
.nav, .nav-hamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    margin-top: 2px;
    position: fixed;
    top: 0;
}

#nav-left {
    position: relative;
    display: flex;
    float: left;
    width: 50%;
    justify-content: flex-start;
}

#nav-right {
    position: relative;
    display: flex;
    float: right;
    width: 50%;
    justify-content: flex-end;
}

#nav-right:last-child {
    padding-right:10px;
}

.nav a {
    padding: 10px;
}

.nav-hamburger {
    display: none;
}

#logo, #hamburger-icon {
    display: flex;
    width: 50%;
    padding-top: 2px;
    
}

#logo {
    justify-content: flex-start;
    padding-left: 10px;
}

#hamburger-icon {
    justify-content: flex-end;
    padding-right: 10px;
}

@media only screen and (max-width: 500px) {
    .nav {
        display: none;
    }

    .nav-hamburger {
        display: flex;
        margin-bottom: 4px;
        z-index: 9999999;
    }
    
    
    .hamburger-content-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        width: 100%;
        margin-top: 2px;
        top: 0;
        background-color: azure;
    }
    
    #hamburger-content {
        width: 100%;
        z-index: 9999;
    }

    .hamburger-content-ul > li {
        margin-bottom: 50px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    
    .hamburger-content-ul > li > a {
        display: block;
        width: 100%;
    }

    #hamburger-top, #hamburger-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;    
        height:50%;
    }
    
    #hamburger-top {
        justify-content: flex-start;
        margin-top: 32px;
    }

    #hamburger-bottom {
        justify-content: flex-end;
    }

    #hamburger-content {
        position: fixed;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

/* FOOTER STYLING */
footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }

    .links, .contacts, .socials {
        margin-bottom: 20px;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials > a {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.socials > a:first-child {
    margin-top: 0px;
}

.socials > a > img {
    margin-right: 10px;
    width: 24px;
}