#main-top {
    border-bottom: 1px solid var(--dark-text);
    margin-top: 70px;
    margin-inline: 30px;
    padding-bottom: 10px;
}

#payment-wrapper {
    display: grid;
    grid-template-columns: 1fr 20%;
    margin-inline: 40px;
    margin-top: 20px;
    padding: 20px;
    height: 750px;
}

#items-wrapper {
    display:flex;
    flex-direction: column;
    gap: 20px;
    padding-right: 20px;
    overflow-y: scroll;
}

#payment-info {
    border-left: 1px solid var(--dark-text);
    margin-left: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 25% ;
    justify-content: space-between;
}

#payment-method, #payment-description {
    display: flex;
    flex-direction: column
}

#payment-description {
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

.pay-desc-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#payment-method {
    justify-content: flex-end;
    margin-bottom: 10px;
}

#payment-method > button {
    margin-inline: 10px;
    margin-top: 20px;
}

#payment-method input {
    margin-right: 10px;
}

#payment-method > label {
    margin-left: 10px;
    
}

#payment-method :nth-child(3) {
    margin-top: 5px;
}

.payment-header {
    margin-bottom: 20px;
}

#cart-total {
    margin-top: 10px;
    text-align: right;
}

#confirm-cart {
    background-color: var(--dark-main-highlight);
    border: none;
    border-radius: 12px;
    padding: 4px;
}

.item-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
}

.cart-item, .left-item, .right-item-top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-item {
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.left-item {
    gap: 20px;
}

.item-info, .right-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.erase {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cost {
    vertical-align: middle;
    margin-left: 10px;
}

.amount {
    width: 30px;
}

#items-wrapper, #payment-description {
    scrollbar-width: thin;
    scrollbar-color: var(--dark-background) var(--dark-off-white);
}

#items-wrapper::-webkit-scrollbar, #payment-description::-webkit-scrollbar {
    width: 11px;
}

#items-wrapper::-webkit-scrollbar-track, #payment-description::-webkit-scrollbar-track {
    background: var(--dark-background);
}

#items-wrapper::-webkit-scrollbar-thumb, #payment-description::-webkit-scrollbar-thumb {
    background-color: var(--dark-off-white);
    border-radius: 12px;
}

@media screen and (max-width: 1300px) {
    #payment-wrapper {
        grid-template-columns: 1fr 30%;
    }
    
}

@media screen and (max-width: 800px) {
    #payment-wrapper {
        grid-template-columns: 1fr;
        height: 100%;
        margin-inline: 10px;
    }

    .cart-item {
        flex-direction: column;
        gap: 10px;
    }
    
    #payment-info {
        border-left: none;
        margin-left: 0px;
        padding-left: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto) ;
        justify-content: space-between;
        margin-top: 10px;
    }

    #payment-description {
        margin-top: 10px;
        padding: 20px;
        gap: 10px;
        height: auto;
        overflow-y: unset;
        border-top: 1px solid var(--dark-text);
    }

    #items-wrapper {
        padding-right: 0px;
        height: fit-content;
    }
}