@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color-light: rgb(196, 224, 192);
    --main-color-dark: rgb(163, 216, 155);
    --sub-color-light: rgb(250, 235, 224);
    --sub-color-dark: rgb(143, 104, 76);
    --sub-color-light-trans: rgba(250, 235, 224, 0.5);
    --sub-color-light-trans: rgba(143, 104, 76, 0.5);
}

/*

TODO: REPLACE CURRENTLY IN USE COLORS BY THESE

:root {
  --primary-color:#8bc34a;
  --primary-light-color:#bef67a;
  --primary-dark-color:#5a9216;
  --secondary-color:#795548;
  --secondary-light-color:#a98274;
  --secondary-dark-color:#4b2c20;
  --primary-text-color:#000000;
  --secondary-text-color:#ffffff;
}



*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
}

main {
    width: 100%;
    min-height: 100%;
}

a {
    user-select: none;
    text-decoration: none;
}

a,
a:visited {
    color: inherit;
}

ul {
    list-style: none;
}


/* NAVBAR STYLING */

.nav,
.nav-hamburger {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 4px 4px;
    position: fixed;
    top: 0;
    background-color: var(--main-color-dark);
    z-index: 999999999;
}

#nav-left {
    position: relative;
    display: flex;
    float: left;
    width: 50%;
    justify-content: flex-start;
}

#nav-right {
    position: relative;
    display: flex;
    float: right;
    width: 50%;
    justify-content: flex-end;
}

#nav-right:last-child {
    padding-right: 10px;
}

.nav a {
    padding: 10px;
}

.nav-hamburger {
    display: none;
}

#logo,
#hamburger-icon {
    display: flex;
    width: 50%;
    padding-top: 2px;
}

#logo {
    justify-content: flex-start;
    padding-left: 10px;
}

#hamburger-icon {
    justify-content: flex-end;
    padding-right: 10px;
}

@media only screen and (max-width: 500px) {
    .nav {
        display: none;
    }

    .nav-hamburger {
        display: flex;
        margin-bottom: 4px;
        z-index: 9999999;
    }

    .hamburger-content-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        width: 100%;
        margin-top: 2px;
        top: 0;
        background-color: azure;
    }

    #hamburger-content {
        width: 100%;
        z-index: 9999;
    }

    .hamburger-content-ul>li {
        margin-bottom: 50px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .hamburger-content-ul>li>a {
        display: block;
        width: 100%;
    }

    #hamburger-top,
    #hamburger-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 50%;
    }

    #hamburger-top {
        justify-content: flex-start;
        margin-top: 32px;
    }

    #hamburger-bottom {
        justify-content: flex-end;
    }

    #hamburger-content {
        position: fixed;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}


/* FOOTER STYLING */

footer {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--main-color-dark);
    padding: 10px 10px;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    footer {
        flex-direction: column;
    }

    .links,
    .contacts,
    .socials {
        margin-bottom: 20px;
    }
}

.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials>a {
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.socials>a:first-child {
    margin-top: 0px;
}

.socials>a>img {
    margin-right: 10px;
    width: 24px;
}

/* CLASSES */

.h1 {
    font-family: "Open Sans";
    font-size: 5.9375em;
}

.h2 {
    font-family: "Open Sans";
    font-size: 3.6875em;
}

.h3 {
    font-family: "Open Sans";
    font-size: 3em;
}

.h4 {
    font-family: "Open Sans";
    font-size: 2.125em;
}

.h5 {
    font-family: "Open Sans";
    font-size: 1.5em;
}

.h6 {
    font-family: "Open Sans";
    font-size: 1.25em;
}

.body1 {
    font-family: "Roboto";
    font-size: 1em;
}

.body2 {
    font-family: "Roboto";
    font-size: 0.875em;
}

.subtitle1 {
    font-family: "Open Sans";
    font-size: 1em;
}

.subtitle2 {
    font-family: "Open Sans";
    font-size: 0.875em;
}

.button {
    font-family: "Roboto";
    font-size: 0.875em;
}

.overline {
    font-family: "Roboto";
    font-size: 0.625em;
}

.caption {
    font-family: "Roboto";
    font-size: 0.75em;
}

.dark-bg {
    color: rgb(255, 255, 255);
}

.light-bg {
    color: rgb(0, 0, 0);
}

.selectable {
    user-select: auto;
}

/* only use these ones for material icons sizing */
.md-18 {
    font-size: 18px;
}

.md-24 {
    font-size: 24px;
}

.md-36 {
    font-size: 36px;
}

.md-48 {
    font-size: 48px;
}

.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.md-dark-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.md-light {
    color: rgba(255, 255, 255, 1);
}

.md-light-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.search {
    border-radius: 9999px;
    padding: 7px;
    padding-right: 40px;
    padding-left: 10px;
    outline: none;
    width: 100%;
    border-color: var(--sub-color-dark);
    border-style: solid;
    border-width: 2px;
    background-color: var(--sub-color-light);
    transition: all 0.2s ease-in-out;
    caret-color: rgba(255, 255, 255, 1);
    color: rgb(0, 0, 0);
}

.search:focus {
    background-color: var(--sub-color-dark);
    border-color: var(--sub-color-light);
    color: rgba(255, 255, 255, 1);
}

.search:focus::placeholder {
    color: rgba(219, 230, 217, 0.5);
}

.search::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    padding-right: 10px;
}



.horizontal-divider {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.shadow,
.shadow-nohov {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.text-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    padding-inline: 10px;
    padding-block: 20px 6px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--sub-color-dark);
    color: white;
}

.error {
    color: red;
}

.transparent {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.opaque {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}