#button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: var(--sub-color-dark);
    border: none;
    border-radius: 10px;
}

#button:disabled {
    background-color: blue;
}

#box {
    background-color: var(--sub-color-light);
    margin: auto;
    margin-top: 100px;
    width: 300px;
    padding: 20px;
    border-radius: 12px;
}

.acc-create {
    margin-top: 10px;
}

.input-container {
    position: relative;
}

.input-container>label {
    position: absolute;
    top: 16px;
    left: 8px;
    transition: all 0.2s ease-in-out;
    cursor: text;
}

.text-input:is(:not(:placeholder-shown), :focus)+label {
    font-size: 0.7em;
    top: 5px;
}

#inputs-box {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}

.password-eye {
    position: absolute;
    right: 10px;
    top: 13px;
}

.password {
    padding-right: 40px;
}

.counter {
    position: absolute;
    right: 10px;
}