#top-background {
    width: 100%;
    height: 500px;
    object-fit: none;
    z-index: -99999999;
    position: relative;
}

.main-bottom {
    margin-top: 40px;
    margin-bottom: 30px;
}

.main-bottom > h2 {
    margin-left: 5%;
}

.top-text {
    position: absolute;
    top: 150px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

#top-desc {
    width: 400px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
    #top-desc {
        width: 350px
    }

    .top-text {
        left: 40px
    }
}

@media only screen and (max-width: 400px) {
    #top-desc {
        width: 250px
    }

    .top-text {
        left: 30px
    }
}

@media only screen and (max-width: 300px) {
    #top-desc {
        width: 150px
    }

    
    .top-text {
        left: 20px
    }
}

.carousel-preview {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

.carousel {
    position: relative;
}

.rest-preview {
    width: 150px;
    border-radius: 12px;
}

.inactive {
    opacity: 0.4;
    transition: opacity 0.3s linear;
}

.active {
    opacity: 1;
}

.inactive:hover {
    opacity: 0.7;
}

div[id^="restaurant-card-"] {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 20% 1fr 1fr;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
}

.restaurant-description {
    margin-left: -50%;
    grid-column-start: 3;
}

.restaurant-description > ul {
    display: flex;
    flex-direction: row;
}

.rest-img {
    width: 300px;
    grid-column-start: 2;
}

@media (max-width: 899px) {
    div[id^="restaurant-card-"] {
        display: flex;
        flex-direction: column;
    }

    .restaurant-description {
        margin-left: 0px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
    }
    
    .rest-img {
        width: 200px;
    }

    .rest-preview {
        width: 100px;
        border-radius: 12px;
    }

}

@media (max-width: 550px) {
    .rest-preview {
        width: 50px;
        border-radius: 12px;
    }

}

@media (max-width: 792px) {
    .promo-restaurant {
        margin-top: 20px;
    }
}

.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-promo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}

#promo-img {
    width: 300px;
    margin-bottom: 10px;
}

.promo-user {
    margin-right: 10px;
}

.promo-restaurant {
    margin-left: 10px;
}
