#banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
    z-index: -99999999;
    position: relative;
    background-color: var(--dark-main-highlight);
}

#tabs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    margin-top: -30px;
}

#content-wrapper {
    display: grid;
    grid-template-columns: 20% 1fr;
    height: 511px;
    padding-block: 20px;
    padding-inline: 30px;
    gap: 10px;
    min-height: 511px;
    transition: height 0.7s cubic-bezier(0.38, -0.02, 0.66, 0.96);
}

#tabs {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 13px;
    padding-inline: 0px;
    margin-block: auto;
    height: 100%;
}

#tabs>p {
    width: 100%;
    text-transform: capitalize;
    padding: 2px;
    padding-inline: 10px;
    height: fit-content;
    transition: all 0.2s ease-in-out;
}

.current-tab {
    border-left: 3px solid var(--dark-text);
    border-bottom: none;
}

#pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.horizontal-divider {
    margin-inline: 30px;
}

#tabs>p:hover {
    transform: scale(101%);
}

.bottom-content-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

#bottom-content {
    overflow: hidden;
    scroll-snap-type: y mandatory;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-column: span 1;
    margin-right: 10px;
    border-left: 1px solid var(--white);
    grid-auto-rows: minmax(min-content, max-content);
}

#profile-top-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

#bottom-content>* {
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
    min-height: 471px;
    justify-content: flex-start;
    gap: 10px;
    height: min-content;
    padding: 10px;
}

#description {
    width: 80%;
    height: fit-content;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
}

#gallery {
    display: grid;
    grid-template-columns: 70% 20% 10%;
    grid-template-rows: repeat(2, 1fr);
    width: 400px;
    gap: 4px;
}

#gallery>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#gallery>img:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}

#gallery>img:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
}

#gallery>img:nth-child(3) {
    grid-area: 2 / 2 / 3 / 4;
}

#maps {
    width: 400px;
    height: 300px;
    background-color: pink;
}

@media (max-width: 800px) {
    #content-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: fit-content 100%;
        padding-inline: 10px;
    }

    #bottom-content {
        border-left: none;
        margin-right: 0px;
    }

    .bottom-content-top {
        justify-content: space-around;
    }

    #tabs {
        grid-template-columns: 1fr;
        gap: 5px;
        border-radius: 24px;
        padding-inline: 10px;
    }


    .current-tab {
        border-left: none;
        border-bottom: 2px solid var(--dark-text);
    }

}

.input-star {
    display: none;
}

.star + label {
    color: var(--dark-sub-highlight);
}

.star + label:hover  {
    color: var(--dark-main-highlight);
}

.star:checked + label {
    color: var(--dark-main-highlight);
}

.star:checked + label:hover {
    color: var(--dark-sub-highlight);
}


.star-container {
    position: relative;
}

.textarea-container {
    position: relative;
}

.textarea-container>label {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: absolute;
    left: 10px;
    top: 13px;
    padding: 4px;
    padding-inline: 6px;
    transition: all 0.2s ease-in-out;
}

#stars-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.review-button {
    width: 10%;
    margin: 0px;
    position: relative;
    background-color: var(--dark-sub-highlight);
    padding: 1px;
    border-radius: 12px;
}

.review {
    margin-inline: 20px;
    min-width: 100%;
}

#reviews {
    justify-content: flex-start;
}

#no-reviews {
    margin: auto;
}

.reviewer-pfp {
    object-fit: cover;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-block: 10px;
}

.review-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
}

.review>article {
    padding-inline: 28px;
    margin-left: 18px;
    border-left: 1px solid var(--dark-text);
    padding-top: 5px;
}

.reviewer-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.reviewer-score {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fab {
    padding: 10px;
    border-radius: 50%;
    background-color: var(--dark-main-highlight);
    transition: transform 0.2s ease-in-out;
}

#fab:hover {
    transform: rotate(360deg);
}

#fab-wrapper {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999999;
    border-radius: 50%;
}

#recent-restaurants {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.personal-info {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 3px;
}

.personal-info > span {
    grid-row-start: 1;
    grid-row-end: 3;
}

#personal-info-wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--dark-sub-highlight);
    padding: 20px;
    padding-inline: 40px;
    border-radius: 12px;
}

@media (max-width: 500px) {
    #gallery {
        width: 300px;
    }
    
    .textarea-container {
        width: 300px;
    }
    
    .review {
        width: 300px;
    }
}
